p ul li {
    list-style-type: square;
    text-align: justify;
    text-justify: inter-word;
}

article.page.h-entry {
    padding-right: 0px;

    @media screen and (max-width: 800px), print {
        padding-right: 0px;
    }
}

article.page.h-entry.wtoc {
    @include breakpoint($large) {
        padding-right: $right-sidebar-width-narrow;
    }
    @include breakpoint($x-large) {
        padding-right: $right-sidebar-width;
    }
    // padding-right: $right-sidebar-width;

    @media screen and (max-width: 800px), print {
        padding-right: 0px;
    }
}

body {
    padding-left:   50px;
    padding-right:  50px;
    @media screen and (max-width: 800px), print {
        padding-left:   0px;
        padding-right:  0px;
    }
}

